*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #0d0d0d;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #0D0D0D;
    overflow: hidden;
}

.block{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.block_logo{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    animation: 1s linear 0s start_r;
}

.block_logo>p{
    color: #FFF;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 5px;
}


.logo_form{
    width: 250px;
    height: 100px;
}

.block_form{
    width: 30vw;
    height: 60vh;
    background-color: #FFF;
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    animation: 1s linear 0s start_l;
}
.block_form>form{
    display: flex;
    flex-flow: column nowrap;
}

.form{
    height: 30vh;
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly; 
}

.block_input{
    position: relative;
    padding: 10px 0;
}

.erreur{
    width: 25vw;
    color: #de1414;
    text-align: center;
}

.input_res{
    width: 25vw;
    height: auto;
    font-size: 15px;
    padding: 5px;
    border: 1.5px solid #0D0D0D;
    border-radius: 5px;
}

.label_res{
    position: absolute;
    top: 0;
    left: 15px;
    background-color: #FFF;
    transition: all .2s ease-in;
}

.form_btn{
    height: auto;
    min-width: fit-content;
    background-color: #0D0D0D;
    border: 1px solid #0D0D0D;
    color: #FFF;
    font-size: 20px;
    padding: 2.5px 5px;
    border-radius: 5px;
    text-align: center;
    transition: all ease-in .5s;
}

.form_btn:hover{
    background-color: #FFF;
    color: #0D0D0D;
    border: 1px solid #FFF;
    box-shadow: #0D0D0D 0px 0px 5px 1px;
    transition: all ease-in .5s;
}
.form_nav>a{
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
}

.form_nav{
    display: flex;
    flex-flow: column nowrap;
}

.input_res:hover + .label_res,
.input_res:focus + .label_res{
    font-size: 13px;
    transition: all .2s ease-in;
}


@keyframes start_l {
    from{transform: translateX(100%);}to{transform: translateX(0%);}
}

@keyframes start_r {
    from{transform: translateX(-100%);}to{transform: translateX(0%);}
}